<div class="container-fluid " id="footer-sc">
  <footer class="d-flex flex-wrap justify-content-evenly align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2021 Administrador Tropical</p>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a [routerLink]="['/homne']" routerLinkActive="router-link-active"
          class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a [routerLink]="['/create', 'Hotel', '']" routerLinkActive="router-link-active"
          class="nav-link px-2 text-muted">Crear Hotel</a></li>
      <li class="nav-item"><a [routerLink]="['/list', 'Hotel', '']" routerLinkActive="router-link-active"
          class="nav-link px-2 text-muted">Lista de Hoteles</a></li>
    </ul>
  </footer>
</div>